@model KARYA.MODEL.DataTransferModels.Karya.Auth.UserModel;

@{
    //Model.Enable = Model == null ? false : @Model.Enable;
    Layout = "_Layout";
    ViewData["Title"] = "Kullanıcı Düzenle";
}



<section class="row content">
    <div class="col-sm-8">
        <div class="card card-primary ">
            <div class="card-header form-card">
                <h3 class="card-title">Kullanıcı Ekle/Düzenle</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="EditUser" id="mainForm" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" class="form-control" />
                    @*<div class="form-group">
                            <label asp-for="UserGroupId" class="control-label"></label>
                            <input asp-for="UserGroupId" class="form-control" />
                            <span asp-validation-for="UserGroupId" class="text-danger"></span>
                        </div>*@
                    <div class="form-group col-sm-4">
                        <label asp-for="Name" class="control-label">İsim</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Lastname" class="control-label">Soyisim</label>
                        <input asp-for="Lastname" class="form-control" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="EMail" class="control-label">E-Posta</label>
                        <input asp-for="EMail" class="form-control" />
                        <span asp-validation-for="EMail" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-8">
                            <label asp-for="Description" class="control-label">Açıklama</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Code" class="control-label">Entegre Kodu</label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="UserName" class="control-label">Kullanıcı Adı</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Password" class="control-label">Parola</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Enable" class="control-label">Durum</label>
                        <div>
                            <input type="checkbox" class="form-control" asp-for="Enable" data-bootstrap-switch>
                        </div>
                        <span asp-validation-for="Enable" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-8">
                        <label asp-for="UserAuthorizeGroupIds" class="control-label">Yetki Grubları</label>
                        <select asp-for="UserAuthorizeGroupIds" name="UserAuthorizeGroupIds" class="form-control select2" multiple="multiple"
                                data-placeholder="Yetki Grupları Seçiniz" data-dropdown-css-class="select2-purple" style="width: 100%;"
                                asp-items="@ViewBag.AuthorizeGroupList"></select>

                    </div>

                </form>

            </div>
            <div class="card-footer">
                <button type="submit" form="mainForm" class="btn btn-warning">
                    <i class="fas fa-save"></i> <span>Kaydet</span>
                </button>
                <a asp-action="UserList" class="btn btn-info" style="float:right;"><i class="fas fa-arrow-left"></i> <span>Listeye geri git</span></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        @*<div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Kullanıcı Yetki Grubu Ekle/Düzenle</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                </div>
                 /.card-body
            </div>*@
    </div>


</section>
