<?xml version="1.0" encoding="utf-8"?>
<!--Server=tcp:karya-server.database.windows.net,1433;Initial Catalog=KARYASYS;Persist Security Info=False;User ID=karya;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;-->
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="KARYA.UI.Win.HanelApp.Properties.Settings.KARYASYSConnectionString"
        connectionString="Server=tcp:karya-server.database.windows.net,1433;Initial Catalog=KARYASYS;Persist Security Info=False;User ID=karya;Password=Kar.798344;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>