
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <h2><b>Sahiza</b>World</h2>
        </div>
        <div class="card">
            <div class="card-body login-card-body" style="background-color: #7b7777f7">
                <img src="~/dist/img/_logo.png" style="max-width:320px" />
                <div style="text-align:center">
                    <h3 style="color: #ed1c249e">403 ACCESS FORBIDDEN</h3>
                    <h5 style="color:#232b83">Bu sayfa için yetkili değilsiniz. Admin ile görüşünüz.</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
