@model IEnumerable<SAHIZA.MODEL.Entities.Cari>

@{
    Layout = "_Layout";
    ViewData["Title"] = "List";
}

<section>
    <div>
        <div class="row">
            <div class="col-12">
                <div class="card list-card">
                    <div class="card-header">
                        <h3 class="card-title">Cari Kartları</h3>
                        <div class="card-tools">
                            <a href="/cari/EditCari" class="btn btn-block bg-gradient-success"><i class="far fa-plus-square"></i> Yeni Ekle</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="cariTable" class="table table-bordered table-striped" >
                            <thead>
                                <tr>
                                    <th>Cari Kodu</th>
                                    <th>Cari Adi /Unvan</th>
                                    <th>Cari Tipi</th>
                                    <th>Grup Kod-1</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="/cari/EditCari?Id=@item.Id">@item.CariKodu</a>
                                        </td>
                                        <td>@item.CariAdi</td>
                                        <td>@item.CariTip</td>
                                        <td>@item.GrupKod1</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->


<script>
    $(function () {
        $('#cariTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true,
        });
    });
</script>